@charset "UTF-8";
@font-face {
  font-family: "TrumpGothicEastW01-Bold";
  src: url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.eot");
  src: url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.woff") format("woff"), url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2a97ee8e9e3ab9853429d31762897e66.svg#TrumpGothicEastW01-Bold") format("svg"); }

body {
  padding: 40px; }

.picture {
  padding: 0 !important; }

.content {
  padding: 0 !important; }

.container {
  outline: none;
  max-width: 1050px; }

a {
  text-decoration: none; }

.main-slider {
  margin: 0 auto;
  -webkit-box-shadow: 0px 18px 48px -8px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 18px 48px -8px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 18px 48px -8px rgba(0, 0, 0, 0.69); }
  .main-slider .main-photo {
    width: 100%;
    height: auto;
    padding: 25px; }
  .main-slider .content .star-icons {
    margin: 53px 0 0 52px; }
    @media screen and (max-width: 767px) {
      .main-slider .content .star-icons {
        margin: 25px 0 0 25px; } }
    .main-slider .content .star-icons path {
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .main-slider .content .star-icons #Polygon_2:hover {
      fill: #c74c4c; }
  .main-slider .content h1 {
    font-family: 'TrumpGothicEastW01-Bold';
    text-transform: uppercase;
    color: #c74c4c;
    font-size: 102px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 104px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    max-width: 210px;
    margin: 36px 0 36px -63px; }
    @media screen and (max-width: 1199px) {
      .main-slider .content h1 {
        font-size: 90px;
        line-height: 85px; } }
    @media screen and (max-width: 767px) {
      .main-slider .content h1 {
        font-size: 40px;
        margin: 0 0 0 25px; } }
  .main-slider .content p {
    font-family: Lato;
    color: #000000;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 22px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    opacity: 0.35;
    max-width: 232px;
    margin: 0 0 22px 0; }
    @media screen and (max-width: 991px) {
      .main-slider .content p {
        margin: 0; } }
    @media screen and (max-width: 767px) {
      .main-slider .content p {
        margin: 0 0 0 25px; } }
  .main-slider .content .slide-link {
    font-family: Lato;
    text-transform: uppercase;
    text-decoration: none;
    color: #c74c4c;
    font-size: 12px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    @media screen and (max-width: 991px) {
      .main-slider .content .slide-link {
        margin-bottom: 10px; } }
    @media screen and (max-width: 767px) {
      .main-slider .content .slide-link {
        margin: 0 0 0 25px; } }
    .main-slider .content .slide-link:hover {
      color: #ac8f8f; }

/*dots style*/
.slick-dots li button:nth-child(1) {
  content: '';
  font-family: Lato;
  color: #202020;
  opacity: 0.35;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 56px;
  /* Приближение из-за подстановки шрифтов */ }

.slick-dots li button:before {
  content: '0'; }

/*slide-number*/
.slide-number:before {
  content: '0';
  font-family: Lato;
  color: rgba(244, 244, 244, 0.6);
  font-size: 118px;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 65px;
  /* Approximation due to font substitution */
  text-align: right; }

.slide-number {
  font-family: Lato;
  color: rgba(244, 244, 244, 0.6);
  font-size: 118px;
  /* Approximation due to font substitution */
  font-weight: 700;
  line-height: 65px;
  /* Approximation due to font substitution */
  text-align: right;
  position: absolute;
  right: -10px;
  bottom: 10px;
  z-index: -1; }
